<div class="animate__animated animate__fadeIn">
  <h2 class="title">Por Pais</h2>
  <hr>

  <div class="columns">
    <div class="column">
      <app-pais-input
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        placeholder="Buscar Pais"
      ></app-pais-input>
    </div>
  </div>

  <div *ngIf="paisesSugeridos.length > 0" class="panel list-group">
    <a [routerLink]="['/pais', pais.alpha2Code]" *ngFor="let pais of paisesSugeridos" class="panel-block list-group-item">
      {{ pais.name }}
    </a>
    <a (click)="buscarSugerido(termino)" class="panel-block list-group-item">Buscar "{{ termino }}"</a>
  </div>

  <hr>
</div>



<div *ngIf="hayError" class="notification is-danger has-text-centered animate__animated animate__shakeX">
  No se encontraron resultados con {{ termino }}
</div>

<div *ngIf="paises.length > 0" class="columns">
  <div class="column">
    <div class="table-container">
      <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
  </div>
</div>
