<h2 class="title">Por Pais</h2>
<hr>

<div class="columns">
  <div class="column">
    <form (ngSubmit)="buscar()" autocomplete="off">
      <input
        class="input"
        type="text"
        name="termino"
        placeholder="Buscar Pais..."
        [(ngModel)]="termino">
    </form>
  </div>
</div>

<hr>

<div *ngIf="hayError" class="notification is-danger has-text-centered">
  No se encontraron resultados con {{ termino }}.
</div>

<div *ngIf="!hayError" class="columns">
  <div class="column">
    <div class="table-container">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>#</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Poblacion</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Bandera</td>
          <td>Nombre</td>
          <td>12345</td>
          <td><a href="http://">Ver...</a></td>
        </tr>
      </tbody>
    </table>

    </div>
  </div>
</div>
